<div class="row justify-content-center" style="margin-top: 2em">
    <div class="col-md-7">
        <div class="jumbotron">
            <h1 class="display-4">Urban R+D</h1>
        
            <div class="row">
                <p style="text-align: justify">
                Own a site?  With Urban R+D you can develop it yourself!
                <br/>
                <br/>
                Urban R+D provide end-to-end development management with a difference; curating the entire development process on the Landowners behalf from inception through to project completion including:
                </p>
                <hr class="my-4"/>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                
                <button type="button" onclick="window.location.href = 'https://www.instagram.com/urbanrandd/';" class="btn btn-secondary">Instagram</button>
                <button type="button" onclick="window.location.href = 'https://twitter.com/UrbanRandD';" class="btn btn-secondary">Twitter</button>
                
            </div>
        </div>
    </div>
</div>

