<!DOCTYPE html>
<html>
<head>
    <title>Redactor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/redact/redactor.css" />
</head>
<body>
    <textarea id="content"></textarea>
    <script src="/assets/redact/redactor.js"></script>
    <script>
        $R('#content');
    </script>
</body>
</html>